@media screen and (min-width:768px) {
    .container {
        max-width: 850px;
    }

/* Section intro blue */
    .intro .card {
        width: 32%;
    }

    .big.card{
        width: 66%;
    }
/* Section planning */

/* Section testimonial */
    .testimonial .content {
        width: 72%;
    }

    .testimonial .image {
        width: 25%;
    }

/* Section benefits */
    .benefits .card {
        width: 48%;
    }

/* Section about-us */
    .col.left {
        width: 55%;
    }

    .col.right {
        width: 40%;
    }

    .about-us .container {
        padding:0 20px;
    }
/* Section get start */
    .get-started .container {
        max-width: 600px;
    }
/* Footer */
    footer .container {
        max-width: 500px;
    }
}

/* --------------------------------------------------------------------- */

@media screen and (min-width:992px) {
    .container {
        max-width: 1000px;
    }

/* Header */
    .link {
        display: block;
    }

    .ham-menu {
        display: none;
    }

    .link li{
        min-width: 30px;
        height: 100%;
        display: inline-block;
}
/* Section intro blue */
    .big .content, .big .image {
        width: 50%;
    }

/* Section planning */
    .planning .card {
        width: 48%;
    }

    .planning .cards {
        width: 65%;
        margin: auto;
    }

    .dev.card {
        align-self: flex-end;
    }

/* Section benefits */
    .benefits .card {
        width: 32%;
    }

/* Section about us */
    .col.left {
        width: 66%;
    }

    .col.right {
        width: 30%;
    }

    .about-us .container {
        padding:0 40px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1100px;
    }
}