@media screen and (min-width:768px) {
    .container {
        max-width: 850px;
    }

/* Section intro blue */
    .intro .card {
        width: 32%;
    }

    .big.card{
        width: 66%;
    }
/* Section planning */

/* Section testimonial */
    .testimonial .card .content {
        width: calc(100% - 260px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .testimonial .image {
        width: 255px;
        padding-bottom: 20px ;
    }

/* Section benefits */
    .benefits .card {
        width: 48%;
    }

/* Section about-us */
    .col.left {
        width: 55%;
    }

    .col.right {
        width: 30%;
    }

    .about-us .container {
        padding:0 20px;
    }

/* Section get start */
    .get-started .container {
        max-width: 600px;
    }

/* Footer */
    footer .container {
        max-width: 500px;
    }

/* Fonts */
    .testimonial p{
        font-size: 19px;
    }

    .testimonial h2{
        font-size: 45px;
    }

    .intro p {
        font-size: 18px;
    }

}

/* --------------------------------------------------------------------- */

@media screen and (min-width:992px) {
    .container {
        max-width: 1000px;
    }

/* Header */
    .link {
        display: inline;
        position:static;
        height: 50px;
        line-height: 50px;
    }

    .ham-menu i{
        display: none;
    }

    .nav .ham-menu:hover .link {
        display: inline;
    }

    .link li{
        height: 100%;
        display: inline-block;
    }

    header .btn {
        height: 40px;
        border-radius: 25px;
        line-height: 40px;
        text-align: center;
        display: inline-block;
        font-weight: 700;
        padding: 0 50px;
        width: auto;
        color: black;
        font-weight: 400;
        padding: 0 10px;
        background-color: white;
    }

/* Section intro blue */
    .big .content, .big .image {
        width: 50%;
    }

/* Section planning */
    .planning .card {
        width: 48%;
    }

    .planning .cards {
        width: 80%;
        margin: auto;
    }

    .dev.card {
        align-self: flex-end;
        padding: 30px 45px;
    }

    .dev.card img {
        width: 80%;
        margin: 0 auto;
    }

/* Section benefits */
    .benefits .card {
        width: 32%;
    }

/* Section about us */
    .col.left {
        width: 65%;
    }

    .col.right {
        width: 25%;
    }

    .about-us .container {
        padding:0 40px;
    }
}

@media screen and (min-width:1200px) {
    .container {
        max-width: 1100px;
    }
}