:root {
    --blue:#0084FD;
    --lightblue:#B5DDFF;
    --purple:#9792E4;
    --oran-yell:#FDC15F;
    --black:#333333;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    padding-top: 80px;
    font-family: 'PT Sans', sans-serif;
}

li {
    list-style-type: none;
}

section{
    padding: 50px 30px;
}

header a, main a {
    text-decoration: none;
    color: white;
    display: inline-block;
}

h3 {
    font-size: 21px;
    margin-bottom: 25px ;
}

h2 {
    font-size: 30px;
    margin-bottom: 50px;
}

h1 {
    font-size: 40px;
    margin-bottom: 25px;
}

p {
    margin-bottom: 30px;
    line-height: 30px;
}

img {
    width: 100%;
    display: block;
}

/* Utils */
.container {
    max-width: 600px;
    margin: 0 auto;
}

.text-ctr {
    text-align: center;
}

.text-rgt {
    text-align: right;
}

.cl-white {
    color: white;
}

.cl-purple {
    color: var(--purple);
}

.mb-img-resp {
    margin-bottom: 80px;
}

/* Utils image testimonial */
.circle-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    margin-top: 20px;
}

.circle-img.test1 {
    background-image: url(../img/testimonial1.jpg);
}

.circle-img.test2 {
    background-image: url(../img/testimonial2.jpg);
}

.circle-img.test3 {
    background-image: url(../img/testimonial3.jpg);
}

/* Utils button */
main .btn {
    height: 40px;
    border-radius: 25px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    padding: 0 50px;
}

.bg-blue {
    background-color: var(--blue);
}

.bg-white {
    background-color: #fff;
}

.bg-purple {
    background-color: var(--purple);
}

.circle-btn {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--purple);
    text-align: center;
    line-height: 50px;
}

/* Header */
header a{
    margin-left: 30px;
}

header {
    padding: 0 30px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
    box-shadow: 0px 1px 2px gray;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 50px;
    flex-basis: 25%;
}

.logo img {
    width: 85px;
}

.nav {
    height: 50px;
    flex-basis: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ham-menu {
    height: 50px;
    font-size: 1.2em;
    line-height: 50px;
    position: relative;
}

.link {
    position:absolute;
    top: 48px;
    right: -30px;
    display: none;
    height: auto;
    width: 150px;
    border-radius: 5px;
    line-height: 50px;
    background-color: #0084FD;
}

.nav .ham-menu:hover .link {
    display: block;
}

/* Section intro blue */
.intro h3 {
    color: var(--blue);
}

.intro .card{
    background-color: var(--lightblue);
    border-radius: 20px;
}

.intro p {
    font-weight: 700;
    color: #5A6D7E;
}

.card.big i{
    font-size: 1rem;
    color: white;
}

.intro i {
    font-size: 4.4rem;
    color: var(--blue);
    margin-bottom: 20px;
}

.intro .image {
    padding: 0 20px ;
    max-width: 280px;
    align-self: end;
}

/* Utils Card */
.cards, .big {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    margin-bottom: 25px;
}

.content {
    padding: 30px;
    width: 100%;
}

.image {
    padding: 0 20px ;
    width: 100%;
}

/* Section planning */
.planning {
    background-color: var(--purple);
}

.dev.card {
    background-color: white;
    border-radius: 45px;
    padding: 30px 20px;
}

.strategic.card p {
    margin-bottom: 0;
}

/* Section testimonial */
.testimonial .content {
    text-align: center;
}

.content.text {
    padding: 0;
    margin: 0 auto;
    margin-bottom: 20px;
}

.testimonial .card {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--purple);
    border-radius: 35px;
}

.testimonial .name {
    font-weight: 700;
    font-size: 20px;
}

.testimonial .content i {
    font-size: 22px;
}

/* Section benefits */
.benefits {
    background-color: var(--purple);
}

.benefits .card {
    background-color: white;
    border-radius: 20px;
}

.benefits p {
    color: #5A6D7E;
}

/* Section about us */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 100%;
    margin-bottom: 20px;
}

.about-us .circle {
    width: 194px;
    position: relative;
    margin-bottom: 20px;
}

.about-us .circle i {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--purple);
    font-size: 80px;
    transform: translate(20%, -20%);
}

.about-us img {
    border-radius: 50%;
}

.about-us .btn {
    height: auto;
    padding: 10px;
    font-weight: 400;
    line-height: 0;
    background-color: var(--purple);
}

.about-us h2 {
    margin-bottom: 25px;
}

/* Section get started */
.get-started {
    background-color: var(--purple);
    color: white
}

.get-started .free {
    color: var(--oran-yell);
    font-size: 55px;
}

.get-started h2 {
    margin-bottom: 25px;
}

.get-started .title{
    color: #D0CEF2;
}

.get-started .btn {
    color: var(--purple);
    font-size: 17px;
    font-weight: 400;
    padding: 10px 80px;
    height: auto;
    border-radius: 50px;
    margin-bottom: 25px;
}

.get-started .privacy{
    text-decoration: underline;
}
/* Footer */
footer {
    background-color: var(--black);
    padding: 50px 30px;
    font-size: 14px;
    color: white;
}

footer a {
    color: var(--purple);
    text-decoration: underline;
}