:root {
    --blue:#0084FD;
    --lightblue:#B5DDFF;
    --purple:#9792E4;
    --oran-yell:#FDC15F;
    --black:#333333;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Generics */
body{
    padding-top: 80px;
}

li {
    list-style-type: none;
}

section{
    padding: 50px 30px;
    min-height: 600px;
}

/* Utils */
.container {
    max-width: 1100px;
    margin: 0 auto;
}

.brd {
    border: 2px dashed black;
}

/* Header */
header {
    padding: 0 30px;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--blue);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    height: 50px;
    flex-basis: 25%;
}

.nav {
    height: 50px;
    flex-basis: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ham-menu {
    height: 100%;
    min-width:30px ;
}

.link {
    display: none;
    height: 100%;
}

/* Section blocks blue */
.cards, .big {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 100%;
    min-height: 200px;
    background-color: var(--lightblue);
    border-radius: 20px;
    margin-bottom: 20px;
}

.content {
    min-height: 200px;
    width: 100%;
}

.image {
    min-height: 200px;
    width: 100%;
}